{% extends 'base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}


{% block content %}
<br>
<br>


<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" style="margin-top:100px;">

        <h4>Your Application Accepted. Thank you for contacting us. our representative will contact you soon...</h4>
          <br>
        <a class="btn btn-primary" href="{% url 'home' %}">-->Click here to back home<--</a>


      </div>
    </section><!-- End About Section -->

{% endblock %}