{% extends 'base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}


{% block content %}
<section id="testimonials" class="testimonials section-bg">
    <div class="container" style="margin-top:50px;">

      <div class="section-title">
        <span>BRANCH/ATM LOCATOR</span>
        <h2>BRANCH/ATM LOCATOR</h2>
        <p>Locating a Federal Bank branch or ATM is now fast and simple with our ATM/ Branch Locator! Just enter a location near you and know where your nearest Branch/ATM is. If you have enough information enter the Branch/ATM name.
          Want to know about our branch facilities, like safe deposit locker or priority banking? Use our advance search option. You will find detailed information about our branches and ATMs and can locate them on map as well !</p>
      </div>

               <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Thrissur Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Kunnamkulam</td>
                  <td>680307</td>
                  <td>easy.kkm@email.com</td>
                  <td>EASYB0000708</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Chalakkudi</td>
                  <td>680304</td>
                  <td>easy.ckd@email.com</td>
                  <td>EASYB0000709</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Kodungallur</td>
                  <td>680308</td>
                  <td>easy.kgr@email.com</td>
                  <td>EASYB0000707</td>
                </tr>
              </tbody>
            </table>
        <br>
        <hr>
        <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Ernakulam Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Aluva</td>
                  <td>680317</td>
                  <td>easy.alv@email.com</td>
                  <td>EASYB0000108</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kalamassery</td>
                  <td>680314</td>
                  <td>easy.klm@email.com</td>
                  <td>EASYB0000109</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Angamaly</td>
                  <td>680318</td>
                  <td>easy.aml@email.com</td>
                  <td>EASYB0000107</td>
                </tr>
              </tbody>
            </table>
        <br>
        <hr>

        <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Calicut Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Vatakara</td>
                  <td>680327</td>
                  <td>easy.vkr@email.com</td>
                  <td>EASYB0000208</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Perambra</td>
                  <td>680324</td>
                  <td>easy.pmb@email.com</td>
                  <td>EASYB0000209</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Balussery</td>
                  <td>680328</td>
                  <td>easy.bsr@email.com</td>
                  <td>EASYB0000207</td>
                </tr>
              </tbody>
            </table>

        <br>
        <hr>

        <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Trivandum Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Attingal</td>
                  <td>680337</td>
                  <td>easy.agl@email.com</td>
                  <td>EASYB0000308</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kovalam</td>
                  <td>680334</td>
                  <td>easy.kvm@email.com</td>
                  <td>EASYB0000309</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Neyyattinkara</td>
                  <td>680338</td>
                  <td>easy.nkr@email.com</td>
                  <td>EASYB0000307</td>
                </tr>
              </tbody>
            </table>

        <br>
        <hr>

        <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Palghat Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Shornur</td>
                  <td>680347</td>
                  <td>easy.shr@email.com</td>
                  <td>EASYB0000408</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Pattambi</td>
                  <td>680344</td>
                  <td>easy.ptb@email.com</td>
                  <td>EASYB0000409</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Ottapalam</td>
                  <td>680348</td>
                  <td>easy.opm@email.com</td>
                  <td>EASYB0000407</td>
                </tr>
              </tbody>
            </table>



    </div>
</section>

{% endblock %}