{% extends 'base.html' %}
{% load static %}
{% block title %}
Ernakulam
{% endblock %}


{% block content %}

<section id="about" class="about">
    <div class="container" style="margin-top:100px;">

            <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Ernakulam Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Aluva</td>
                  <td>680317</td>
                  <td>easy.alv@email.com</td>
                  <td>EASYB0000108</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kalamassery</td>
                  <td>680314</td>
                  <td>easy.klm@email.com</td>
                  <td>EASYB0000109</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Angamaly</td>
                  <td>680318</td>
                  <td>easy.aml@email.com</td>
                  <td>EASYB0000107</td>
                </tr>
              </tbody>
            </table>


    </div>
</section><!-- End About Section -->

{% endblock %}