{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}


{% block content %}




  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Digital Banking</h1>
          <h2>The Perfect Banking Experience, Now Includes Easy Tax Payments</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Profile</h3>
          <p> Easy Bank (EB), India’s first Swadeshi Bank, commenced its operations on April 12, 1895 from Delhi, with an authorized capital of ? 2 lac and working capital of ? 20,000. The Bank was established by the spirit of nationalism and was the first bank purely managed by Indians with Indian Capital. During the long history of the Bank, 9 banks have been merged/ amalgamated with EB.</p>
        </div>

      </div>
    </section><!-- End Cta Section -->

  <main id="main">

<!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="section-title">
          <span>Easy Bank Services</span>
          <h2>Easy Bank Services</h2>
          <p>Our mission is to remain the strong, sound and leading organisation in the cooperative credit structure and to be the backbone for the rural financial sector of Kerala.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-laptop"></i></div>
              <h4 class="title"><a href="">Deposit Schemes</a></h4>
              <p class="description">Earn a higher income on your surplus funds by investing in a deposit scheme of your choice. We have introduced various deposit schemes with excellent interest rates.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Loans and Advances</a></h4>
              <p class="description">We have a fairly large basket of loan schemes specially designed to suit your needs. Chase your dreams with our products.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard-data"></i></div>
              <h4 class="title"><a href="">Service Charges & Fees</a></h4>
              <p class="description">Check out the Service charges, fees, processing charges in CoBank for various banking activities in detail.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/about.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>ENHANCING DIGITALISATION</h3>
            <p class="fst-italic">
              Digital Banking Initiatives: Bank has focused on creation of digital canvas for customers by
              allowing all tools for customers like debit card, PNB One, BHIM UPI etc. Digital Transactions
              improved to 69% in March’22.The progress under digitalization is outline below:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Internet Banking Services (IBS)
              </li>
              <li><i class="bi bi-check-circle"></i> PNB One Mobile Banking Services (MBS)</li>
              <li><i class="bi bi-check-circle"></i> Online-Loans Apply</li>
            </ul>
            <p>
              Through the efficient management of the organisation, it would aspire to function as a professional, profitable and socially responsible organisation ensuring the best service to its stakeholders and customers by providing good value for their money and thereby ensure accelerated development of the rural population
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
            <p>Branches</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"></span>
            <p>Staffs</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span>Ways To Bank</span>
          <h2>Ways To Bank</h2>
          <p>No matter where your account is located, you can access superior banking services across Easy Bank's wide network of branches 50 and ATMs 17,025.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Mobile Banking</a></h4>
              <p>We are happy to bring to you our all new MobileBanking App. It has been designed for you, by us, keeping you in mind, to make banking through your mobile simple and convenient.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Online Banking</a></h4>
              <p>Your bank is always just a few clicks away. Make over 200 important transactions without stepping out with Easy Bank's online solutions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Social Media Banking</a></h4>
              <p>HDFC Bank Social Media Banking is at your service 24/7.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Watch Banking</a></h4>
              <p>Access your bank account, locate an ATM, recharge your prepaid mobile, and more with a flick of your wrist - with HDFC Bank's WatchBanking.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">ATM Banking</a></h4>
              <p>As a Easy Bank ATM card holder, you can perform banking transactions round the clock. Additionally, Easy Bank ATMs accept all VISA / MasterCard / RuPay / Discover / JCB & EasyPay Cards.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Self Service Banking</a></h4>
              <p>Bank made it hassle-free for online account opening, online loan applications, online aadhaar linked status checks, and many more features for easy banking.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

        <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>You might be interested</span>
          <h2>You might be interested</h2>
          <p>Recommendations for a safe and easy banking experience</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="">
              <h4>Blog</h4>
              <p>
                Stay tuned to banking innovations & trends and make smart financial decisions
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" alt="">
              <h4>Tutorial Videos</h4>
              <p>
                Watch tutorial videos about our products & services and harness the power of digital banking.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" alt="">
              <h4>Safe Zindagi</h4>
              <p>
                Our guidelines and tips for secure banking with total peace of mind
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->





{% endblock %}



