{% extends 'base.html' %}
{% load static %}
{% block title %}
Trivandrum
{% endblock %}


{% block content %}

<section id="about" class="about">
    <div class="container" style="margin-top:100px;">

            <table class="table">
              <thead class="table-info">
              <tr>
                <th style="text-align:center;" class="table-warning">Trivandum Branches</th>
              </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Branch/Office Name</th>
                  <th scope="col">Pin Code</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ifsc code</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Attingal</td>
                  <td>680337</td>
                  <td>easy.agl@email.com</td>
                  <td>EASYB0000308</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Kovalam</td>
                  <td>680334</td>
                  <td>easy.kvm@email.com</td>
                  <td>EASYB0000309</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Neyyattinkara</td>
                  <td>680338</td>
                  <td>easy.nkr@email.com</td>
                  <td>EASYB0000307</td>
                </tr>
              </tbody>
            </table>


    </div>
</section><!-- End About Section -->

{% endblock %}